{% extends 'base.html.twig' %}

{% block title %}Mon menu{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur mon site!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
<p>Voici le tp1 de symfony de qualité ++ !</p>
    <a class="btn btn-primary btn-lg" href="https://portfoliopalmie.000webhostapp.com/" role="button">Lien portfolio</a>
  </p>
</div>
{% endblock %}
